@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

a.button {

}

header.top-hero {
  width: 100%;
  height: 100vh;
  background-image: url('/img/hero-river.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;

  div.top-hero__mask {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  div.top-hero__logo {
    width: 185px;
    margin: 0 0 0 95px;
    z-index: 1;
    position: relative;

    svg {
      width: 100%;
    }

    svg path,
    svg rect {
      fill: #FFF;
    }

    @media (max-width: 768px) {
      margin: 0 15px;
    }
  }

  div.top-hero__splash {
    color: #FFF;
    text-align: center;

    h1 {
      font-size: 6rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 9.8px;
      color: #FFF;
      text-shadow: 0px 3px 6px #00000029;
      padding-top: 25vh;

      @media (max-width: 768px) {
        font-size: 12vw;
      }
    }
  }
}

section.main-content {
  padding: 207px 0 45px 0;

  @media (max-width: 768px) {
    padding: 45px 0;
  }

  small {
    color: #9A9A9A;
    font-size: 16px;
    text-transform: uppercase;
  }

  img {
    width: 100%;
  }

  h3 {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  p.large {
    font-size: 28px;
  }

  p.regular {
    font-size: 18px;
  }

  p.small {
    font-size: 16px;
  }

  a.button {
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 53px;
    height: 16px;
    line-height: 16px;
  }

  div.container > div.row {
    margin-bottom: 150px;

    @media (max-width: 768px) {
      margin-bottom: 50px;
    }
  }

  div.el-carousel {
    width: 100%;
  }

  div.el-carousel__item.row {
    width: 100%;
    display: flex !important;
  }

  div.main-content__bar-left {
    padding-left: 135px;

    .bar-left {
      position: relative;

      &:before {
        position: absolute;
        content: "";
        left: -120px;
        width: 90px;
        top: 50%;
        right: 0;
        border-top: 1px solid;
      }

      &.large {
        &:before {
          top: 22px;
        }
      }

      &.regular {
        &:before {
          top: 14px;
        }
      }

      &.small {
        &:before {
          top: 11px;
        }
      }
    }
  }
}

.el-form {
  input,
  textarea {
    width: 100%;
    border: 1px solid #000;
    color: #000;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

    &:hover {
      border: 1px solid #000;
    }

    &::placeholder {
      color: #000;
    }
  }

  button {
    background-color: #000;
    padding: 12px 53px;
    border: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .el-input {
    width: 100% !important;

    .el-input__icon {
      color: #000;
    } 
  }
}

.el-message-box {
  .el-button--primary {
    background-color: #000;
    border: none;
  }
}

footer.main-footer {
  background-color: #000;
  padding: 87px 0 95px 0;
  font-size: 14px;
  letter-spacing: 0;
  color: #FFF;

  svg {
    width: auto;
    margin-bottom: 30px;
  }

  svg path,
  svg rect {
    fill: #FFF;
  }

  p {
    opacity: 0.6;
    line-height: 24px;
  }

  a {
    color: #FFF;

    &:hover {
      text-decoration: none;
    }

    &.button {
      font-size: 14px;
      letter-spacing: 4.2px;
      text-transform: uppercase;
      opacity: 1;
      border-bottom: 1px solid #FFF;
      display: inline-block;
      line-height: 44px;
    }
  }

  h4 {
    font-size: 14px;
    letter-spacing: 4.2px;
    color: #FFF;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 30px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: outside none none;

    li {
      letter-spacing: 0;
      padding: 0;
      margin: 0 0 13px 0;
      color: #FF;
      opacity: 0.6;
    }
  }

  div.main-footer__copyright {
    font-size: 14px;
    opacity: 0.6;
    margin-top: 100px;
  }
}