<template>
  <el-form :model="form" :rules="validationRules" ref="bookingForm">
    <div class="row">
      <el-form-item  prop="name" class="col-12 col-sm-12">
        <el-input v-model="form.name" placeholder="Your Name"></el-input>
      </el-form-item>
    </div>
    <div class="row">
      <el-form-item prop="day" class="col-12 col-sm-6">
        <el-date-picker v-model="form.day" type="date" format="dd-MM-yyyy" placeholder="Pick a day"></el-date-picker>
      </el-form-item>
      <el-form-item prop="time" class="col-12 col-sm-6">
        <el-time-select v-model="form.time" placeholder="Pick a time"></el-time-select>
      </el-form-item>
    </div>
    <div class="row">
      <el-form-item prop="message" class="col-12 col-sm-12">
        <el-input v-model="form.message" type="textarea" placeholder="Your Message" :rows="4"></el-input>
      </el-form-item>
    </div>
    <div class="row">
      <el-form-item class="col-12 col-sm-12">
        <el-button type="primary" @click="submitForm('bookingForm')">Place Booking</el-button>
      </el-form-item>
    </div>
  </el-form>
</template>

<script>
  export default {
    name: "BookingForm",
    data() {
      return {
        messageStatus: false,
        messageText: false,
        form: {},
        validationRules: {
          name: [
            {
              required: true,
              message: "Please enter your name",
              trigger: "blur"
            }
          ],
          day: [
            {
              required: true,
              message: "Please enter the day",
              trigger: "blur"
            }
          ],
          time: [
            {
              required: true,
              message: "Please enter the time",
              trigger: "blur"
            }
          ],
          message: [
            {
              required: true,
              message: "Please enter your message",
              trigger: "blur"
            }
          ],
        }
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate(async valid => {
          if (valid) {
            this.$http.post('/createBooking', this.form).then((response) => {
              this.$root.$refs.BookingResults.loadBookings();
              this.messageStatus = response.data.status;
              this.messageText = response.data.message;
              this.messageDialog();
              return;
            });
          }
          return false;
        });
      },
      messageDialog() {
        this.$alert(this.messageText, '', {
          confirmButtonText: 'Close',
          customClass: this.messageStatus,
        });
      }
    },
  };
</script>
