<template>
  <div class="row">
    <el-carousel 
      :loop="false"
      :autoplay="false"
      :initial-index="latestBooking" 
      arrow="hover"
      class="d-none d-sm-block"
      >
      
      <el-carousel-item v-for="(booking, index) in bookings" :key="index" class="row">
        <div class="main-content__bar-left col-sm-6" v-for="(subBooking, bookingIndex) in booking.bookings">
          <small>{{ subBooking.ref  }}</small>
          <h5>{{ subBooking.name }}</h5>
          <h5>{{ subBooking.date }}</h5>
          <h5>{{ subBooking.time }}</h5>
          <p class="small bar-left">{{ subBooking.message }}</p>
        </div>
      </el-carousel-item>
    </el-carousel>
    <el-carousel 
      :loop="false"
      :autoplay="false"
      :initial-index="latestBooking" 
      arrow="always"
      class="d-block d-sm-none"
      >
      <template v-for="(booking, index) in bookings">
        <el-carousel-item v-for="(subBooking, bookingIndex) in booking.bookings" :key="subBooking.ref">
          <div class="main-content__bar-left col-12">
            <small>{{ subBooking.ref  }}</small>
            <h5>{{ subBooking.name }}</h5>
            <h5>{{ subBooking.date }}</h5>
            <h5>{{ subBooking.time }}</h5>
            <p class="small bar-left">{{ subBooking.message }}</p>
          </div>
        </el-carousel-item>
      </template>
    </el-carousel>
  </div>
</template>

<script>
  export default {
    name: "BookingResults",
    data() {
      return {
        bookings: [],
        latestBooking: 0,
      }
    },
    created(){
        this.loadBookings();
    },
    methods: {
      loadBookings: function() {
        this.$http.get('/loadBookings').then((response) => {
          this.bookings = response.data.bookings;
          this.latestBooking = this.bookings.length - 1;
        })
        .catch(function(error) {
          console.log(error);
        });
      },       
    },  
  }
</script>
